.content {
  text-align: left;
}

.imageTitle {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.score {
  text-align: right;
}

.fadedCard {
  opacity: 15%;
}

.imageCard {
  width: 50%;
}

.cardContainer:hover {
  border: 4px solid lightblue;
}

.progress {
  height: 40px;
  margin-top: 2em;
}

.notification {
  visibility: visible;
}

.alert {
  text-align: center;
}

@media (max-width: 1150px) {
  .imageTitle {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .content {
    max-width: 40%;
  }
}

