<div class="container content">
  <h2 class="imageTitle">Question</h2>

  <div class="notification">
    <div class="alert alert-success">Correct!</div>
  </div>

  <div class="score">Score: 0</div>

  <!-- image card row 1 -->
  <div class="d-flex flex-row justify-content-center">
    <div class="cardContainer card imageCard">
      <img src="./../assets/bote.png" alt="TODO" class="card-img-top" />
    </div>
    <div class="cardContainer card imageCard">
      <img src="./../assets/diamante.png" alt="TODO" class="card-img-top" />
    </div>
  </div>

  <!-- image card row 2 -->
  <div class="d-flex flex-row justify-content-center">
    <div class="cardContainer card imageCard">
      <img src="./../assets/espada.png" alt="TODO" class="card-img-top" />
    </div>
    <div class="cardContainer card imageCard">
      <img src="./../assets/hacha.png" alt="TODO" class="card-img-top" />
    </div>
  </div>

  <!-- progress bar -->
  <div class="d-flex flex-row justify-content-center">
    <div class="progress w-100">
      <div
        class="progress-bar bg-success"
        role="progressbar"
        aria-valuenow="80"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 80%;"
        >
        <!-- TODO: add trophy icon -->
      </div>
    </div>
  </div>

</div>
